<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.knime.workbench.repository.nodes">
    	<node category-path="/community/indigo/translators" factory-class="com.ggasoftware.indigo.knime.convert.molloader.IndigoMoleculeLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeLoaderNodeFactory"/>
    	<node category-path="/community/indigo/translators" factory-class="com.ggasoftware.indigo.knime.convert.molsaver.IndigoMoleculeSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeSaverNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.molprop.IndigoMoleculePropertiesNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculePropertiesNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.valence.IndigoValenceCheckerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoValenceCheckerNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.arom.IndigoAromatizerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoAromatizerNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.hadder.IndigoHydrogenAdderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoHydrogenAdderNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.hremover.IndigoHydrogenRemoverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoHydrogenRemoverNodeFactory"/>
	    <node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.dearom.IndigoDearomatizerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoDearomatizerNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.submatcher.IndigoSubstructureMatcherNodeFactory" id="com.ggasoftware.indigo.knime.IndigoSubstructureMatcherNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.submatchcounter.IndigoSubstructureMatchCounterNodeFactory" id="com.ggasoftware.indigo.knime.IndigoSubstructureMatchCounterNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.fpsim.IndigoFingerprintSimilarityNodeFactory" id="com.ggasoftware.indigo.knime.IndigoFingerprintSimilarityNodeFactory"/>
	    <node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.molfp.IndigoMoleculeFingerprinterNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeFingerprinterNodeFactory"/>
		<node category-path="/community/indigo/translators" factory-class="com.ggasoftware.indigo.knime.convert.molloader.IndigoQueryMoleculeLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryMoleculeLoaderNodeFactory"/>
		<node category-path="/community/indigo/translators" factory-class="com.ggasoftware.indigo.knime.convert.molsaver.IndigoQueryMoleculeSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryMoleculeSaverNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.scaffold.IndigoScaffoldFinderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoScaffoldFinderNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.rgdecomp.IndigoRGroupDecomposerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoRGroupDecomposerNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.fremover.IndigoFeatureRemoverNodeFactory" id="com.ggasoftware.indigo.knime.fremover.IndigoFeatureRemoverNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.compsep.IndigoComponentSeparatorNodeFactory" id="com.ggasoftware.indigo.knime.compsep.IndigoComponentSeparatorNodeFactory"/>
		<node category-path="/community/indigo" factory-class="com.ggasoftware.indigo.knime.murcko.IndigoMurckoScaffoldNodeFactory" id="com.ggasoftware.indigo.knime.murcko.IndigoMurckoScaffoldNodeFactory"/>
	</extension>
	
 	<extension point="org.knime.workbench.repository.categories">
      <category description="Indigo" icon="icons/indigo.png" level-id="indigo" name="Indigo" path="/community"/>
 	</extension>
 	<extension point="org.knime.workbench.repository.categories">
      <category description="Translators" icon="icons/indigo-translators.png" level-id="translators" name="Translators" path="/community/indigo"/>
 	</extension>
 	<extension point="org.eclipse.equinox.preferences.preferences">
 		<initializer class="com.ggasoftware.indigo.knime.plugin.IndigoPreferenceInitializer"/>
 	</extension>
 	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.knime.chem.preferences" class="com.ggasoftware.indigo.knime.plugin.IndigoPreferencePage" id="com.ggasoftware.indigo.knime.preferences" name="Indigo"/>
 	</extension>
 	<extension point="org.knime.product.splashExtension">
 		<splashExtension icon="icons/indigo-splash.png" id="indigo" tooltip="Indigo"/>
 	</extension> 
</plugin>
