<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <!-- <node category-path="/community/indigo/io" factory-class="com.ggasoftware.indigo.knime.io.rxnreader.RXNReaderNodeFactory" id="com.ggasoftware.indigo.knime.io.rxnreader.RXNReaderNodeFactory"/> -->
      <node category-path="/community/indigo/molecule_translators" factory-class="com.ggasoftware.indigo.knime.convert.molecule.IndigoMoleculeLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeLoaderNodeFactory"/>
      <node category-path="/community/indigo/molecule_translators" factory-class="com.ggasoftware.indigo.knime.convert.molecule.IndigoMoleculeSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeSaverNodeFactory"/>
      <node category-path="/community/indigo/molecule_translators" factory-class="com.ggasoftware.indigo.knime.convert.molecule.IndigoQueryMoleculeLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryMoleculeLoaderNodeFactory"/>
      <node category-path="/community/indigo/molecule_translators" factory-class="com.ggasoftware.indigo.knime.convert.molecule.IndigoQueryMoleculeSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryMoleculeSaverNodeFactory"/>
      
      <node category-path="/community/indigo/reaction_translators" factory-class="com.ggasoftware.indigo.knime.convert.reaction.IndigoReactionLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoReactionLoaderNodeFactory"/>
      <node category-path="/community/indigo/reaction_translators" factory-class="com.ggasoftware.indigo.knime.convert.reaction.IndigoReactionSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoReactionSaverNodeFactory"/>
      <node category-path="/community/indigo/reaction_translators" factory-class="com.ggasoftware.indigo.knime.convert.reaction.IndigoQueryReactionLoaderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryReactionLoaderNodeFactory"/>
      <node category-path="/community/indigo/reaction_translators" factory-class="com.ggasoftware.indigo.knime.convert.reaction.IndigoQueryReactionSaverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoQueryReactionSaverNodeFactory"/>
      
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.compjoin.IndigoComponentCombinerNodeFactory" id="com.ggasoftware.indigo.knime.compjoin.IndigoComponentCombinerNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.compsep.IndigoComponentSeparatorNodeFactory" id="com.ggasoftware.indigo.knime.compsep.IndigoComponentSeparatorNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.murcko.IndigoMurckoScaffoldNodeFactory" id="com.ggasoftware.indigo.knime.murcko.IndigoMurckoScaffoldNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.rgdecomp.IndigoRGroupDecomposerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoRGroupDecomposerNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.scaffold.IndigoScaffoldFinderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoScaffoldFinderNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.submatchcounter.IndigoSubstructureMatchCounterNodeFactory" id="com.ggasoftware.indigo.knime.IndigoSubstructureMatchCounterNodeFactory"/>
      <node category-path="/community/indigo/molecule" factory-class="com.ggasoftware.indigo.knime.submatcher.IndigoSubstructureMatcherNodeFactory" id="com.ggasoftware.indigo.knime.IndigoSubstructureMatcherNodeFactory"/>
      
      <node category-path="/community/indigo/reaction" factory-class="com.ggasoftware.indigo.knime.rautomapper.IndigoReactionAutomapperNodeFactory" id="com.ggasoftware.indigo.knime.rautomapper.ReactionAutomapperNodeFactory"/>
      <node category-path="/community/indigo/reaction" factory-class="com.ggasoftware.indigo.knime.submatcher.IndigoSubstructureMatcherNodeFactory" id="com.ggasoftware.indigo.knime.IndigoSubstructureMatcherNodeFactory"/>
      <node category-path="/community/indigo/reaction" factory-class="com.ggasoftware.indigo.knime.rbuilder.IndigoReactionBuilderNodeFactory" id="com.ggasoftware.indigo.knime.rbuilder.IndigoReactionBuilderNodeFactory"/>
      <node category-path="/community/indigo/reaction" factory-class="com.ggasoftware.indigo.knime.rsplitter.IndigoReactionSplitterNodeFactory" id="com.ggasoftware.indigo.knime.rsplitter.IndigoReactionSplitterNodeFactory"/>
      
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.arom.IndigoAromatizerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoAromatizerNodeFactory"/>
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.dearom.IndigoDearomatizerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoDearomatizerNodeFactory"/>
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.areplacer.IndigoAtomReplacerNodeFactory" id="com.ggasoftware.indigo.knime.areplacer.IndigoAtomReplacerNodeFactory"/>
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.fremover.IndigoFeatureRemoverNodeFactory" id="com.ggasoftware.indigo.knime.fremover.IndigoFeatureRemoverNodeFactory"/>
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.hadder.IndigoHydrogenAdderNodeFactory" id="com.ggasoftware.indigo.knime.IndigoHydrogenAdderNodeFactory"/>
      <node category-path="/community/indigo/manipulators" factory-class="com.ggasoftware.indigo.knime.hremover.IndigoHydrogenRemoverNodeFactory" id="com.ggasoftware.indigo.knime.IndigoHydrogenRemoverNodeFactory"/>
      
      <node category-path="/community/indigo/properties" factory-class="com.ggasoftware.indigo.knime.molprop.IndigoMoleculePropertiesNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculePropertiesNodeFactory"/>
      <node category-path="/community/indigo/properties" factory-class="com.ggasoftware.indigo.knime.valence.IndigoValenceCheckerNodeFactory" id="com.ggasoftware.indigo.knime.IndigoValenceCheckerNodeFactory"/>
      <node category-path="/community/indigo/properties" factory-class="com.ggasoftware.indigo.knime.fpsim.IndigoFingerprintSimilarityNodeFactory" id="com.ggasoftware.indigo.knime.IndigoFingerprintSimilarityNodeFactory"/>
      <node category-path="/community/indigo/properties" factory-class="com.ggasoftware.indigo.knime.molfp.IndigoMoleculeFingerprinterNodeFactory" id="com.ggasoftware.indigo.knime.IndigoMoleculeFingerprinterNodeFactory"/>


</extension>
   
    <extension point="org.knime.workbench.repository.categories">
      <category description="Indigo" icon="icons/indigo.png" level-id="indigo" name="Indigo" path="/community"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="IO" level-id="io" name="IO" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Molecule Translators" icon="icons/groups/translators.png" level-id="molecule_translators" name="Molecule Translators" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Reaction Translators" icon="icons/groups/translators.png" level-id="reaction_translators" name="Reaction Translators" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Molecule" level-id="molecule" name="Molecule" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Reaction" level-id="reaction" name="Reaction" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Combinatorial Chemistry" level-id="combinatorial_chemistry" name="Combinatorial Chemistry" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Manipulators" icon="icons/groups/manipulators.png" level-id="manipulators" name="Manipulators" path="/community/indigo"/>
    </extension>
    <extension point="org.knime.workbench.repository.categories">
      <category description="Properties" level-id="properties" name="Properties" path="/community/indigo"/>
    </extension>
    <extension point="org.eclipse.equinox.preferences.preferences">
       <initializer class="com.ggasoftware.indigo.knime.plugin.IndigoPreferenceInitializer"/>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.chem.preferences" class="com.ggasoftware.indigo.knime.plugin.IndigoPreferencePage" id="com.ggasoftware.indigo.knime.preferences" name="Indigo"/>
    </extension>
    <extension point="org.knime.product.splashExtension">
       <splashExtension icon="icons/indigo-splash.png" id="indigo" tooltip="Indigo"/>
    </extension> 
</plugin>
